{% extends "base.html" %}

{% block content %}
<a href="{% url 'clientes:clientes_lista' %}">Voltar</a>
    <h1>{{ object }}
        <span class="pull-right">
            <a href="{% url 'clientes:clientes_edit' object.pk  %}">
                <button type="button" class="btn btn-success">
                    <span class="fa fa-pencil"></span> Editar
                </button>
            </a>
        </span>
    </h1>
<span class="pull-right">
    <a href="{% url 'clientes:clientes_delete' object.pk  %}">
        <button type="button" class="btn btn-danger">
            <span class="fa fa-pencil"></span> Deletar
        </button>
    </a>
</span>
<div class="col-sm-6">
    <table class="table table-user-information">

            <tbody>
                <tr>
                    <th class="text-right">CPF</th>
                    <td>{{object.cpf}}</td>
                </tr>
                <tr>
                    <th class="text-right">Data Nascimento</th>
                    <td>{{object.nasc}}</td>
                </tr>
                <tr>
                    <th class="text-right">Celular</th>
                    <td>{{object.tel01}}</td>
                </tr>
                <tr>
                    <th class="text-right">Telefone</th>
                    <td>{{object.tel02}}</td>
                </tr>
                <tr>
                    <th class="text-right">E-mail</th>
                    <td>{{object.email}}</td>
                </tr>
                <tr>
                    <th class="text-right">Contato</th>
                    <td>{{object.contato}}</td>
                </tr>
                <tr>
                    <th class="text-right">Veiclo Tipo</th>
                    <td>{{object.vtipo}}</td>
                </tr>
                <tr>
                    <th class="text-right">Endereço</th>

                    <td>{{object.endereco}}</td>

                    <td>{{local.endereco}}</td>

                </tr>

                <tr>
                    <th class="text-right">Data de Cadastro</th>
                    <td>{{object.cadastro}}</td>
                </tr>
            </tbody>
    </table>

</div>
{% endblock content %}