{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<link rel="stylesheet" type="text/css"  href="{% static 'instalacao/css/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	 <div class="jumbotron">
      <div class="container">
            <div class="page-header">
                <h1>Instalações
                    <span class="pull-right">
                        <a href="{% url 'instalacao:instalacao_add' %}">
                            <button type="button" class="btn btn-primary">
                                <span class="fa fa-plus"></span>Adicionar
                            </button>
                        </a>
                    </span>
                </h1>

                <li class="right">
                     <form class="searchbox" method="GET" id="search-form">

                        <input name="search" type="search" class="form-control ds-input" id="search-input"
                           placeholder="Pesquisa..." aria-label="Procurar por..."
                           autocomplete="off" spellcheck="false" role="combobox"
                           aria-autocomplete="list" aria-expanded="false"
                           aria-owns="algolia-autocomplete-listbox-0"
                           dir="auto" style="position: relative;
                           vertical-align: top;">
                         <button type="submit" class="btn btn-primary">Busca</button>
                     </form>
                </li>

                <div class="container"></div>

                {% if object_list %}
                    <table class="table-striped">
                        <thead>
                        <tr>
                            <th>Associado</th>
                            <th>Placa</th>
                            <th>Nr. do Contrato</th>
                            <th>Solicitado em:</th>
                            <th>Vendedor:</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>
                                    <a href="{{ object.get_absolute_url }}">{{object.ins_cliente}}</a>
                                </td>
                                <td>{{object.inst_placa}}</td>
                                <td>{{object.ins_contrato}}</td>
                                <td>{{object.inst_data}}</td>
                                <td>{{object.inst_solicitante}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="alert alert-warning">Não existem Instalações nesta lista ou foi digitada incorretamente!</p>
                {% endif %}
              </div>
          </div>
        <div class="pagination">
             <span class="step-links">
                 {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}"><i class="fa fa-arrow-left"></i></a>
                 {% endif %}

                 <span class="current">
                     {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                 </span>

                 {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}"><i class="fa fa-arrow-right"></i></a>
                 {% endif %}
             </span>
         </div>
     </div>
</body>

{% endblock %}