{% extends "base.html" %}

{% block content %}
<a href="{% url 'instaladores:instaladores_list' %}">Voltar</a>

<div class="col-sm-6">
    <table class="table table-user-information">

            <tbody>
                <tr>
                    <th class="text-right">Instalador:</th>
                    <td>{{object.nome}}</td>
                </tr>
                <tr>
                    <th class="text-right">CPF:</th>
                    <td>{{object.cpf}}</td>
                </tr>
                <tr>
                    <th class="text-right">RG.:</th>
                    <td>{{object.rg}}</td>
                </tr>
                <tr>
                    <th class="text-right">Telefone01:</th>
                    <td>{{object.tel01}}</td>
                </tr>
                <tr>
                    <th class="text-right">Telefone02:</th>
                    <td>{{object.tel02}}</td>
                </tr>
                <tr>
                    <th class="text-right">E-mail:</th>
                    <td>{{object.email}}</td>
                </tr>
                <tr>
                    <th class="text-right">Endereço:</th>
                    <td>{{object.endereco}}</td>
                </tr>
                <tr>
                    <th class="text-right">Preco:</th>
                    <td>{{object.preco}}</td>
                </tr>
            </tbody>
    </table>

</div>
{% endblock content %}